<template name="categories">
    <h2>Categories</h2>
    <div class="list-group">
        <!-- Search category form -->
        {{> filterCategories}}
        {{#each categories}}
            <!-- Category information -->
            <div class="list-group-item">
                <div class="row-action-primary">
                    <button class="delete btn btn-danger btn-fab btn-raised mdi-action-delete"></button>
                </div>
                <div class="row-content">
                    <h1 class="list-group-item-heading">{{ name }}</h1>
                    <p>{{#if description }}{{ description }}{{else }}No description.{{/if }}</p>
                </div>
            </div>
        {{else}}
            <!-- No category found -->
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-action-info well-material-yellow"></i>
                </div>
                <div class="row-content">
                    <h1 class="list-group-item-heading">No categories found ...</h1>
                    <p>Search for categories in the upper input field. At the bottom you can add a new category with name and description.</p>
                </div>
            </div>
        {{/each}}
    </div>
    {{> newCategory}}
</template>